In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
train_df = pd.read_csv('train_dataframe.csv')
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13651 entries, 0 to 13650
Columns: 2587 entries, Additional_Number_of_Scoring to Reviewer_Score
dtypes: float64(2587)
memory usage: 269.4 MB

In [3]:
train_df.head()

,Additional_Number_of_Scoring,Average_Score,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,days_since_review,lat,lng,Review_Month,...,p_working,p_world,p_worth,p_wouldn,p_year,p_years,p_yes,p_young,p_yummy,Reviewer_Score
0,220.0,9.1,20.0,902.0,21.0,1.0,275.0,51.494308,-0.175558,11.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,1.0
1,1190.0,7.5,5.0,5180.0,23.0,6.0,481.0,51.514879,-0.160650,4.0,...,0.0,0.0,0.0,0.0,0.0,0.425849,0.0,0.0,0.0,1.0
2,299.0,8.3,81.0,1361.0,27.0,4.0,672.0,51.521009,-0.123097,10.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
3,87.0,9.0,17.0,355.0,13.0,7.0,412.0,51.499749,-0.161524,6.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,1.0
4,317.0,7.6,14.0,1458.0,0.0,1.0,499.0,51.516114,-0.174952,3.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0

In [4]:
X_train = train_df.iloc[:,:-1]
X_train.head()

,Additional_Number_of_Scoring,Average_Score,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,days_since_review,lat,lng,Review_Month,...,p_worked,p_working,p_world,p_worth,p_wouldn,p_year,p_years,p_yes,p_young,p_yummy
0,220.0,9.1,20.0,902.0,21.0,1.0,275.0,51.494308,-0.175558,11.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
1,1190.0,7.5,5.0,5180.0,23.0,6.0,481.0,51.514879,-0.160650,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.425849,0.0,0.0,0.0
2,299.0,8.3,81.0,1361.0,27.0,4.0,672.0,51.521009,-0.123097,10.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
3,87.0,9.0,17.0,355.0,13.0,7.0,412.0,51.499749,-0.161524,6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
4,317.0,7.6,14.0,1458.0,0.0,1.0,499.0,51.516114,-0.174952,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0

In [5]:
y_train = train_df.iloc[:,-1]
y_train.head()

0    1.0
1    1.0
2    0.0
3    1.0
4    0.0
Name: Reviewer_Score, dtype: float64

In [6]:
test_df = pd.read_csv('test_dataframe.csv')

In [7]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3413 entries, 0 to 3412
Columns: 2587 entries, Additional_Number_of_Scoring to Reviewer_Score
dtypes: float64(2587)
memory usage: 67.4 MB

In [8]:
X_test = test_df.iloc[:,:-1]
y_test = test_df.iloc[:,-1]

In [9]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(random_state=42).fit(X_train, y_train)
print(lr.score(X_train, y_train))
print(lr.score(X_test, y_test))

C:\Users\arali\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.8272654018020658
0.7896278933489599

In [10]:
lr.coef_.max()

2.0590332723658054

In [11]:
type(lr.coef_)

numpy.ndarray

In [12]:
lr.coef_.shape

(1, 2586)

In [13]:
lr.coef_[0].shape

(2586,)

In [14]:
coef_df = pd.DataFrame({'feature':X_train.columns, 'coef': lr.coef_[0]})
coef_df.sort_values(by='coef', ascending=False, inplace=True)

In [15]:
coef_df

             feature      coef
2522      p_upgraded  2.059033
1719       p_amazing  2.037435
1978     p_fantastic  1.781315
1228       n_perfect  1.706760
2308  p_professional  1.698139
...              ...       ...
1561          n_tiny -1.797868
722          n_dated -1.839281
753          n_dirty -2.228388
1366          n_room -2.232058
1481         n_staff -2.625180

[2586 rows x 2 columns]

In [16]:
word_df = coef_df[coef_df.feature.str.contains('^[n,p]_')]
word_df

             feature      coef
2522      p_upgraded  2.059033
1719       p_amazing  2.037435
1978     p_fantastic  1.781315
1228       n_perfect  1.706760
2308  p_professional  1.698139
...              ...       ...
1561          n_tiny -1.797868
722          n_dated -1.839281
753          n_dirty -2.228388
1366          n_room -2.232058
1481         n_staff -2.625180

[2177 rows x 2 columns]

In [17]:
twenty_df = word_df.head(20).append(word_df.tail(20))
twenty_df

             feature      coef
2522      p_upgraded  2.059033
1719       p_amazing  2.037435
1978     p_fantastic  1.781315
1228       n_perfect  1.706760
2308  p_professional  1.698139
1972      p_fabulous  1.644790
2005  p_friendliness  1.591903
2271       p_perfect  1.561669
1955     p_excellent  1.513672
850          n_fault  1.504318
2168         p_loved  1.475253
2440          p_stay  1.462111
1851       p_comfort  1.452769
1761     p_beautiful  1.402817
2460        p_superb  1.331682
2573     p_wonderful  1.310531
1792     p_brilliant  1.293120
1079        n_lovely  1.286296
1284       n_problem  1.210570
2459         p_super  1.198559
876           n_food -1.292642
720           n_dark -1.295371
652           n_cold -1.334239
1907           p_did -1.335351
1164         n_night -1.349581
522          n_basic -1.363402
2240            p_ok -1.409050
1367         n_rooms -1.416473
1370          n_rude -1.435789
528            n_bed -1.500571
1187           n_old -1.594807
1490          n_star -1.608265
1209    n_overpriced -1.646616
1562         n_tired -1.650406
1259          n_poor -1.745596
1561          n_tiny -1.797868
722          n_dated -1.839281
753          n_dirty -2.228388
1366          n_room -2.232058
1481         n_staff -2.625180

In [18]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_scale = scaler.fit_transform(X_train)
X_test_scale = scaler.transform(X_test)

In [23]:
import timeit  
from sklearn.linear_model import LogisticRegression
scale_lr = LogisticRegression(solver='lbfgs', random_state=42, max_iter=200).fit(X_train_scale, y_train)
print(scale_lr.score(X_train_scale, y_train))
print(scale_lr.score(X_test_scale, y_test))
print(timeit.timeit())

0.8668229433741118
0.7497802519777322
0.028860199999996894

In [24]:
coef_df = pd.DataFrame({'feature':X_train.columns, 'coef': scale_lr.coef_[0]})
coef_df.sort_values(by='coef', ascending=False, inplace=True)
word_df = coef_df[coef_df.feature.str.contains('^[n,p]_')]
twenty_df = word_df.head(20).append(word_df.tail(20))
twenty_df

             feature      coef
2511         p_truly  0.356157
2114        p_kindly  0.329284
1719       p_amazing  0.310847
1955     p_excellent  0.292575
2213        p_movies  0.278636
2308  p_professional  0.276673
2046          p_half  0.266106
1078         n_loved  0.264558
2016        p_future  0.257390
2099       p_ironing  0.239765
1978     p_fantastic  0.238251
2522      p_upgraded  0.234753
2271       p_perfect  0.230108
2410         p_smile  0.228039
856           n_feet  0.225210
1761     p_beautiful  0.222018
1741     p_attention  0.221853
2252   p_outstanding  0.210088
1693            p_02  0.207978
1228       n_perfect  0.207449
1367         n_rooms -0.195887
722          n_dated -0.202308
735         n_deluxe -0.204569
528            n_bed -0.205603
1449        n_smelly -0.206458
980     n_impression -0.207852
1490          n_star -0.210030
2565            p_wi -0.216028
1777         p_board -0.221732
1158      n_negative -0.238534
1678           n_won -0.246321
1370          n_rude -0.248430
753          n_dirty -0.269815
1226       n_peeling -0.271632
1481         n_staff -0.304250
1366          n_room -0.371589
1030          n_lamp -0.377431
1270       n_premier -0.403023
1008          n_joke -0.406168
545          n_black -0.889658

In [31]:
# principle component analysis
from sklearn.decomposition import PCA
pca = PCA(n_components=500)
X_train_scale_pca = pca.fit_transform(X_train_scale)
X_test_scale_pca = pca.transform(X_test_scale)

In [32]:
import timeit  
from sklearn.linear_model import LogisticRegression
pca_lr = LogisticRegression(solver='lbfgs', random_state=42, max_iter=200).fit(X_train_scale_pca, y_train)
print(pca_lr.score(X_train_scale_pca, y_train))
print(pca_lr.score(X_test_scale_pca, y_test))
print(timeit.timeit())

0.8069738480697385
0.7843539408145327
0.036189700000250014

In [ ]:
# discussion of dimensionality reduction advanrage and disadvantage 
# - improved test accuracy 
# - lost interpreability